.user-item {
    margin: 1rem;
    background: transparent;
    max-width: calc(85% - 2rem);
   display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #ffdd40;
    
}

.user-item a {
   width:100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    background: #1f5156;
    transition: all 0.5s ease;
    padding:0.4rem;
}

.Card-text {
    color: #fff;
    
}




.user-item a:hover,
.user-item a:active {

    background: #011312;


}

.Card-text:hover {
    color: darkorange;
    transition: all 0.5s ease;
}

.user-item__content {
    padding: 0;
}
@media(min-width:1000px){
    .user-item{
        width:auto;
        max-width: 60%;
    }
    
}
@media(max-width:800px) {
    
    .user-item a{
        font-size: auto;
        margin:0.5rem 0;
        width:100%;
        height:100%;
    }
}