.user-item {
    margin: 1rem;
    max-width: calc(85% - 2rem);
    height:6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #ffdd40;
    
}

.user-item a {

    display: flex;
    align-items: center;

    text-decoration: none;
    padding: 1rem;
    background: #1f5156;
    transition: all 0.5s ease;
}

.Card-text {
    color: #fff;
}




.user-item a:hover,
.user-item a:active {

    background: #011312;


}

.Card-text:hover {
    color: darkorange;
    transition: all 0.5s ease;
}

.user-item__content {
    padding: 0;
}
