*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: url('./Assets/circle-scatter-haikei.svg');
  width:100%;
  background-size:100vw 100vh;
  background-color: #1f5156;
  background-attachment:fixed;
  
  
  
  
  
}

@media(min-width:300px) and (max-width:900px){
.App{
  background-size: cover;
  
}
}

